header {
    margin: 1rem;
}
    .header__page {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
    }
        .header__title {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            padding: 1rem;
        }
            .header__title img {
                filter:hue-rotate(100deg);
                max-width: 120px;
            }
            .header__title__subtitle {
                padding: 1rem;
            }
                .title {
                    font-size: xx-large;
                }
    
        .header__nav {
            min-width: 30%;
        }
            .header__ul {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
                .header__ul__li {
                    padding: 1rem;
                }
.menu__divindades {
   
    background-image: linear-gradient(transparent 1%, palegoldenrod 99%), url(/assets/framehp.png);
    background-repeat: repeat-x;
    
    display: flex;
    flex-wrap: wrap;
}
    .title__description__menu__divindades {
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        margin-top: 3.5rem;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        padding-bottom: 10px;

        
        color: black;
        
    }
        .title__menu__divindades {
            padding: 2rem;
            font-size: x-large;
            text-align: center;
        }
        .description__menu__divindades {
            text-align: center;
        }
        .imagens__menu__divindades {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            text-align: center;
            padding: 25px;
            

        }
            .imagens__menu__divindades img {
                transition: all linear 1s;
                max-height: 336px;
                border-radius: 5%;
                filter: saturate(0%)
            }
            .imagens__menu__divindades img:hover {
                filter: saturate(100%);
                transition: all linear 1s;
            }
            .imagens__menu__divindades__img {
                padding: 10px;
            }
            .title_img {
                padding: 10px;
            }
    