/*Fontes importadas*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Ubuntu:wght@400;500&display=swap');

/*Flexbox, posições e espaços*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home__header__ul {
    display: flex;
    justify-content: end;
    margin: 20px;
    }

.home__header__ul__li {
    padding: 10px;
}

.home__main__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
}

.home__main__logo img {
    max-width: 250px;
    margin: 0 auto;
    padding: 30px;
}

.home__main__logo__title, .home__main__logo__subtitle {
    padding: 10px;
}

.home__main__logo__menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 1rem;
}

.home__main__logo__menu__link {

    padding: 25px;
}

footer {
    padding-top: 2.5rem;
    margin: 1rem;
}
.home__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer__text {
    padding-right: 1rem;
}

.footer__text__assign {
    padding-top: 1rem;
}

/*Cores e fontes*/
body {
    background-color: black;
    color: plum;
    font-family: 'El Messiri', sans-serif;
}

.home__main__logo__title {
    font-size: xxx-large;
    
}

.home__main__logo__subtitle {
    font-size: x-large;
}

.home__main__logo__menu__link {
    font-size: x-large;
}

.home__main__logo img {
    filter:hue-rotate(100deg);
    transition: all linear 1s;
}
    .home__main__logo img:hover {
        transition: all linear 1s;
        transform: rotate(-180deg);
        filter:hue-rotate(200deg);
    }

footer {
    font-size: small;
}